div {
	border: 2px solid #6600ff;
    padding: 10px;
    background-image: url(Puss1.jpg);
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
}